.add-model-item {
  margin: 0 16px;
  display: flex;
  align-items: center;

  + .add-model-item {
    margin-top: 8px;
  }

  input {
    flex: 1;
  }
}

.tomato-history {
  .tomato-history-tabs {
    .tomato-history-tab-pane {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: -52px;
      }

      .daily-tomatoes {
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;

        .title {
          flex-shrink: 0;
          margin-right: 8px;

          .date {
            .date-time {
              margin-right: 4px;
              color: #222;
            }

            .week-time {
              color: #888;
              font-size: 12px;
            }
          }

          .finished-count {
            font-size: 14px;
            color: #888;
          }

          .total-time {

          }
        }

        .details {
          flex: 1;


        }
      }
    }
  }
}