@import "../../assets/styles/helper.less";

.tomatoes{
  padding: 16px;
  margin: 16px 0;
  border: @border;
  border-radius: @border-radius;
  width: 100%;
  box-shadow: @box-shadow;
  background: @color-block;
  @media(min-width: 500px){
    margin: 16px;
    width: calc(50% - 8px);
  }
}