#home {
  max-width: 1000px;
  padding: 16px;
  margin: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .logo {
      width: 1.5em;
      margin: .2em;
    }

    .user {
      cursor: pointer;
    }
  }

  > main {
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: 500px){
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
  }
}