@import "../../assets/styles/helper.less";

.statistics {
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      border: @border;
      box-shadow: @box-shadow;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      background: @color-block;

      &:first-child {
        border-radius: @border-radius 0 0 @border-radius;
      }

      &:last-child {
        border-radius: 0 @border-radius @border-radius 0;
      }

      + li {
        border-left: none;
      }

      &.active {
        background: @color-hover;
      }

      .text {
         position: absolute;
         margin: 8px;

         p {
           &:first-child {
             font-size: 16px;
           }

           &:nth-child(2) {
             font-size: 8px;
             color: @color-text-light;
           }

           &:last-child {
             position: absolute;
             right: -60px;
             top: 4px;
             font-size: 40px;
           }
         }
       }

      .graph {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        svg {
          height: 50px;
          width: 149px;
          margin-left: -1px;

        }
      }
    }
  }

  @media(min-width: 500px){
    ul{
      li{
        .text {
          position: absolute;
          margin: 8px;

          p {
            &:first-child {
              font-size: 16px;
            }

            &:nth-child(2) {
              font-size: 8px;
              color: @color-text-light;
            }

            &:last-child {
              position: relative;
              right: 0;
              top: -4px;
              font-size: 40px;
            }
          }

        }
        .graph {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;

          svg {
            height: 60px;
            width: 239px;
            margin-left: -1px;

          }
        }
      }
    }
  }
  .detail-statistics{
    margin: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}