@import "../../../assets/styles/helper.less";

.todo-history-item {
  transition: all .2s;
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  .text {
    .time {
      color: @color-text-light;
      margin-right: 8px;
    }
    .description {
      color: @color-text;
    }
  }
  .action {
    display: none;
    span {
      color: @color-primary;
      &:first-child {
        margin-right: 4px;
      }
    }
  }
  &:hover {
    background: @color-hover;
    .action {
      display: block;
      cursor: pointer;
    }
  }
}