.todos{
  padding: 16px;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(50% - 8px);
  box-shadow: 0 2px 5px #fff;
  background: #fff;
  >.todo-list{
    margin-top: 16px;
  }
}